@media (max-width: 600px) {
  .sec-travel-list {
    padding: 4rem 0;
    .cards {
      width: $mediaSmallWidth;
      gap: 1rem;
      .card {
        width: 100%;
      }
    }
    h2 {
      color: $ciBlue;
      font-size: $mediaSmallFontSizeHeadline;
    }
  }
}
