@media (max-width: 1320px) {
  .sec-4 {
    .content-wraper {
      width: 79vw;
    }
  }
}

@media (max-width: 600px) {
  .sec-4 {
    .content-wraper {
      width: $mediaSmallWidth;

      .card {
        p.sec-4-city-text {
          font-size: $mediaSmallFontSizeHeadline;
        }
      }
    }
  }
}
