@media (max-width: 1380px) {
  header {
    width: 100%;
    height: 100vh;

    .headline {
      padding: 3.5rem 5rem 0 0;
      align-items: self-end;
      flex-direction: column;

      h1 {
        flex-basis: initial;
        font-size: 6rem;

        p:first-child {
          margin-left: 0;
          display: inline-block;
          padding-left: 0rem;
        }
        p:last-child {
          margin-left: 0;
          display: inline-block;
        }
      }
      > div {
        flex-grow: 1;
        div:first-child {
          width: 20rem;
          height: 25rem;

          margin: 3rem 0 0 37em;
          img {
            object-position: 23% 50%;
          }

          div {
            top: 0;
            left: -61.5%;
            width: 20rem;
            height: 25rem;
          }

          > img {
            object-position: 89% 50%;
          }
        }
      }
      &::after {
        top: 3.5rem;
        left: 5rem;
        width: 25rem;
        height: 33rem;

        animation: geisha 700ms 650ms forwards;
      }
    }
  }
}

@media (max-width: 1120px) {
  header {
    width: 100%;
    height: 100vh;

    .headline {
      padding: 3.5rem 5rem 0 0;
      justify-content: space-between;
      height: 100%;
      align-items: self-end;

      overflow: hidden;

      width: 100%;
      flex-direction: column;

      h1 {
        flex-basis: initial;
        font-size: 4.5rem;
        p:first-child {
          margin-left: 0;
          display: inline-block;
          padding-left: 0rem;
        }
        p:last-child {
          margin-left: 0;
          display: inline-block;
        }
      }
      > div {
        flex-grow: 1;
        div:first-child {
          width: 20rem;
          height: 25rem;

          margin: 3rem 0 0 37em;

          div {
            top: 0;
            left: -61.5%;
            width: 20rem;
            height: 25rem;
          }
        }
      }
      &::after {
        background-size: cover;
        top: 3.5rem;
        left: 5rem;
        width: 25rem;
        height: 33rem;
      }
    }
  }
}

@media (max-width: 980px) {
  header {
    width: 100%;
    height: 100vh;

    .headline {
      padding: 3.5rem 5rem 0 0;
      justify-content: space-between;
      height: 100%;
      align-items: self-end;
      overflow: hidden;

      width: 100%;
      flex-direction: column;

      h1 {
        flex-basis: initial;
        font-size: 4rem;
        margin-top: 3rem;

        p:first-child {
          margin-left: 0;
          display: inline-block;
          padding-left: 0rem;
        }
        p:last-child {
          margin-left: 0;
          display: inline-block;
        }
      }
      > div {
        flex-grow: 1;
        div:first-child {
          width: 20rem;
          height: 25rem;

          margin: 3rem 0 0 37em;

          div {
            top: 0;
            left: -61.5%;
            width: 20rem;
            height: 25rem;
          }
        }
      }
      &::after {
        background-size: contain;
        top: 3.5rem;
        left: 5rem;
        width: 19rem;
        height: 100%;
      }
    }
  }
}

@media (max-width: 850px) {
  header {
    .headline {
      padding: 11.5rem 5rem 0 0;
      justify-content: space-between;
      height: 100%;
      align-items: self-end;

      overflow: hidden;

      width: 100%;
      flex-direction: column;

      h1 {
        flex-basis: initial;
        font-size: 3rem;
        margin-top: 2rem;

        p:first-child {
          margin-left: 0;
          display: inline-block;
          padding-left: 0rem;
        }
        p:last-child {
          margin-left: 0;
          display: inline-block;
        }
      }
      > div {
        flex-grow: 1;
        div:first-child {
          width: 15rem;
          height: 20rem;
          margin: 1rem 0 0 37em;

          div {
            top: 0;
            left: -61.5%;
            width: 15rem;
            height: 20rem;
          }
        }
      }
      &::after {
        background-size: contain;
        top: 10.5rem;
        left: 5rem;
        width: 13rem;
        height: 100%;
      }
    }
  }
}

@media (max-width: 660px) {
  header {
    .headline {
      padding: 11.5rem 1rem 0 0;
      justify-content: space-between;
      height: 100%;
      align-items: self-end;
      overflow: hidden;
      width: 100%;
      flex-direction: column;

      h1 {
        flex-basis: initial;
        font-size: 3rem;
        margin-top: 2rem;

        p:first-child {
          margin-left: 0;
          display: inline-block;
          padding-left: 0rem;
        }
        p:last-child {
          margin-left: 0;
          display: inline-block;
        }
      }
      > div {
        flex-grow: 1;
        div:first-child {
          width: 15rem;
          height: 20rem;
          margin: 1rem 0 0 37em;
          div {
            top: 0;
            left: -61.5%;
            width: 15rem;
            height: 20rem;
          }
        }
      }
      &::after {
        background-size: contain;
        top: 10.5rem;

        left: 1rem;
        width: 13rem;
        height: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  header {
    .headline {
      padding: 11.5rem 1rem 0 0;

      h1 {
        font-size: 2rem;
        margin-top: 2rem;
      }
      > div {
        div:first-child {
          width: 13rem;
          height: 13rem;
          margin: 1rem 0 0 37em;
          img {
            object-position: 100% 50%;
          }
          div {
            top: 0;
            left: -61.5%;
            width: 13rem;
            height: 13rem;
            > img {
              object-position: 0% 50%;
            }
          }
        }
      }
      &::after {
        top: 10.5rem;
        left: 1rem;
        width: 11rem;
        height: 100%;
      }
    }
  }
}

@media (max-width: 460px) {
  header {
    .headline {
      padding: 11.5rem 1rem 0 0;
      h1 {
        font-size: 2rem;
        margin-top: 2rem;
      }
      > div {
        div:first-child {
          width: 10rem;
          height: 10rem;
          margin: 1rem 0 0 37em;
          div {
            top: 0;
            left: -61.5%;
            width: 10rem;
            height: 10rem;
          }
        }
      }
      &::after {
        top: 10.5rem;
        left: 1rem;
        width: 8rem;
        height: 100%;
      }
    }
  }
}
