header {
  width: 100%;
  // height: 100vh;
  position: relative;
  a {
    color: white;
    text-decoration: none;
  }
  .m-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #001b2c;
    color: white;
    font-size: 1.5rem;
    transform: translate(0, -50px);
    animation: navBar 1s forwards;
    animation-delay: 300ms;
    opacity: 0;
    font-family: travel;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        margin-right: 1rem;
      }
    }
  }

  .headline {
    display: flex;
    padding: 14vh 3rem;
    justify-content: space-between;
    height: 100%;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    // gap: 15vw;
    width: 100%;

    h1 {
      flex-basis: 55%;
      font-size: 6rem;
      font-family: 'Samosa';
      color: $mainColor;
      p:first-child {
        margin-left: 25rem;
        animation: headerTitle 700ms forwards;
        opacity: 0;
        filter: blur(3px);
        transform: translateX(-50px);
        animation-delay: 450ms;
      }
      p:last-child {
        margin-left: 21rem;
        animation: headerTitle 700ms forwards;
        opacity: 0;
        filter: blur(3px);
        transform: translateX(-50px);
        animation-delay: 550ms;
      }
    }
    > div {
      // position: relative;
      // width: 100%;
      // height: 100%;
      // flex-basis: 70%;
      // flex-basis: 70rem;
      // animation: picOne 1.3s forwards;

      > div {
        width: 24rem;
        height: 38rem;
        position: relative;
        opacity: 1;
        z-index: 100;

        > div {
          position: absolute;
          top: 0;
          left: -61.5%;
          width: 24rem;
          height: 38rem;
          // opacity: 0;
          z-index: 100;

          // clip-path: polygon(
          //   52.511% 99.853%,
          //   0.229% 99.853%,
          //   40.982% 4.303%,
          //   40.982% 4.303%,
          //   41.347% 3.576%,
          //   41.795% 2.906%,
          //   42.318% 2.297%,
          //   42.91% 1.755%,
          //   43.563% 1.283%,
          //   44.27% 0.886%,
          //   45.023% 0.57%,
          //   45.816% 0.338%,
          //   46.64% 0.195%,
          //   47.489% 0.147%,
          //   99.771% 0.147%,
          //   59.018% 95.697%,
          //   59.018% 95.697%,
          //   58.653% 96.424%,
          //   58.205% 97.094%,
          //   57.682% 97.703%,
          //   57.09% 98.245%,
          //   56.437% 98.717%,
          //   55.73% 99.114%,
          //   54.977% 99.43%,
          //   54.184% 99.662%,
          //   53.36% 99.805%,
          //   52.511% 99.853%
          // );
          // -webkit-clip-path: polygon(
          //   52.511% 99.853%,
          //   0.229% 99.853%,
          //   40.982% 4.303%,
          //   40.982% 4.303%,
          //   41.347% 3.576%,
          //   41.795% 2.906%,
          //   42.318% 2.297%,
          //   42.91% 1.755%,
          //   43.563% 1.283%,
          //   44.27% 0.886%,
          //   45.023% 0.57%,
          //   45.816% 0.338%,
          //   46.64% 0.195%,
          //   47.489% 0.147%,
          //   99.771% 0.147%,
          //   59.018% 95.697%,
          //   59.018% 95.697%,
          //   58.653% 96.424%,
          //   58.205% 97.094%,
          //   57.682% 97.703%,
          //   57.09% 98.245%,
          //   56.437% 98.717%,
          //   55.73% 99.114%,
          //   54.977% 99.43%,
          //   54.184% 99.662%,
          //   53.36% 99.805%,
          //   52.511% 99.853%
          // );
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 23% 50%;
            animation: picOne 1.3s forwards;
            transform: translateZ(0);
            //   clip-path: polygon(
            //     52.511% 99.853%,
            //     0.229% 99.853%,
            //     40.982% 4.303%,
            //     40.982% 4.303%,
            //     41.347% 3.576%,
            //     41.795% 2.906%,
            //     42.318% 2.297%,
            //     42.91% 1.755%,
            //     43.563% 1.283%,
            //     44.27% 0.886%,
            //     45.023% 0.57%,
            //     45.816% 0.338%,
            //     46.64% 0.195%,
            //     47.489% 0.147%,
            //     99.771% 0.147%,
            //     59.018% 95.697%,
            //     59.018% 95.697%,
            //     58.653% 96.424%,
            //     58.205% 97.094%,
            //     57.682% 97.703%,
            //     57.09% 98.245%,
            //     56.437% 98.717%,
            //     55.73% 99.114%,
            //     54.977% 99.43%,
            //     54.184% 99.662%,
            //     53.36% 99.805%,
            //     52.511% 99.853%
            //   );
            //   -webkit-clip-path: polygon(
            //     52.511% 99.853%,
            //     0.229% 99.853%,
            //     40.982% 4.303%,
            //     40.982% 4.303%,
            //     41.347% 3.576%,
            //     41.795% 2.906%,
            //     42.318% 2.297%,
            //     42.91% 1.755%,
            //     43.563% 1.283%,
            //     44.27% 0.886%,
            //     45.023% 0.57%,
            //     45.816% 0.338%,
            //     46.64% 0.195%,
            //     47.489% 0.147%,
            //     99.771% 0.147%,
            //     59.018% 95.697%,
            //     59.018% 95.697%,
            //     58.653% 96.424%,
            //     58.205% 97.094%,
            //     57.682% 97.703%,
            //     57.09% 98.245%,
            //     56.437% 98.717%,
            //     55.73% 99.114%,
            //     54.977% 99.43%,
            //     54.184% 99.662%,
            //     53.36% 99.805%,
            //     52.511% 99.853%
            //   );
          }
        }
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 65% 50%;
          animation: picTwo 1.3s forwards;
          transform: translateZ(0);

          // -webkit-clip-path: polygon(
          //   52.511% 99.853%,
          //   0.229% 99.853%,
          //   40.982% 4.303%,
          //   40.982% 4.303%,
          //   41.347% 3.576%,
          //   41.795% 2.906%,
          //   42.318% 2.297%,
          //   42.91% 1.755%,
          //   43.563% 1.283%,
          //   44.27% 0.886%,
          //   45.023% 0.57%,
          //   45.816% 0.338%,
          //   46.64% 0.195%,
          //   47.489% 0.147%,
          //   99.771% 0.147%,
          //   59.018% 95.697%,
          //   59.018% 95.697%,
          //   58.653% 96.424%,
          //   58.205% 97.094%,
          //   57.682% 97.703%,
          //   57.09% 98.245%,
          //   56.437% 98.717%,
          //   55.73% 99.114%,
          //   54.977% 99.43%,
          //   54.184% 99.662%,
          //   53.36% 99.805%,
          //   52.511% 99.853%
          // );
          // clip-path: polygon(
          //   52.511% 99.853%,
          //   0.229% 99.853%,
          //   40.982% 4.303%,
          //   40.982% 4.303%,
          //   41.347% 3.576%,
          //   41.795% 2.906%,
          //   42.318% 2.297%,
          //   42.91% 1.755%,
          //   43.563% 1.283%,
          //   44.27% 0.886%,
          //   45.023% 0.57%,
          //   45.816% 0.338%,
          //   46.64% 0.195%,
          //   47.489% 0.147%,
          //   99.771% 0.147%,
          //   59.018% 95.697%,
          //   59.018% 95.697%,
          //   58.653% 96.424%,
          //   58.205% 97.094%,
          //   57.682% 97.703%,
          //   57.09% 98.245%,
          //   56.437% 98.717%,
          //   55.73% 99.114%,
          //   54.977% 99.43%,
          //   54.184% 99.662%,
          //   53.36% 99.805%,
          //   52.511% 99.853%
          // );
        }
      }
    }
    &::after {
      content: '';
      background-image: url('../img/geisha.png');
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      bottom: 14vh;
      left: 3rem;
      width: 25rem;
      height: 33rem;
      opacity: 0;
      animation: geisha 700ms 650ms forwards;
    }
  }
}

@keyframes picOne {
  0% {
    transform: translate(-20px, 50px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@keyframes picTwo {
  0% {
    transform: translate(20px, -50px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes navBar {
  0% {
    opacity: 0;
    transform: translate(0, -50px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0px);
  }
}

@keyframes headerTitle {
  0% {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
  }
}

@keyframes geisha {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
