.sec-3 {
  background-color: $mainColor;
  padding: 8rem 0;
  .content-wraper {
    font-family: travel;
    font-size: 1.2rem;
    width: 79rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10, 7.9rem);
    grid-template-rows: repeat(8, 7rem);
    div:nth-child(1) {
      grid-column: 1 / 3;
      grid-row: 1 / 8;
      background-image: url('../img/geisha-3.jpg');
      background-repeat: no-repeat;
      background-size: 800px;
      background-position: 55% var(--yCord, 10%);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // object-position: -110px 0px;
        object-position: -110px var(--yCord, 0px);
        background-attachment: scroll;
      }
    }
  }
}

// <a href="https://de.freepik.com/fotos-kostenlos/asiatische-frau-die-traditionellen-japanischen-kimono-im-herbstpark-traegt-kyoto-in-japan_10695562.htm#page=3&query=geisha%20japan&position=17&from_view=search&track=ais">Bild von tawatchai07</a> auf Freepik
