.sec-travel-list {
  // height: 70vh;
  background-color: $mainColor;
  padding: 2rem 0 9rem 0;
  h2 {
    text-align: center;
    color: $ciBlue;
    font-size: 4rem;
    font-family: Samosa;
    padding-bottom: $topicPaddingBottom;
  }
}
