$primary: rgb(255, 196, 0);
$secondary: rgb(173, 173, 173);
$font-fam: 'Poor Story', sans-serif;
$font-color: rgb(39, 39, 39);

$padding-section: 5rem 20vw;
$margin-b-section: 30px;
$transition: all .3s ease-in-out;


$break-xsmall: 600px;
$break-small: 650px;
$break-medium: 1000px;
$break-large: 1400px;
$break-xlarge: 1600px;

