@font-face {
  font-family: "Travel";
  src: url("../fonts/Travel/Travel.eot");
  src: url("../fonts/Travel/Travel.eot") format("embedded-opentype"), url("../fonts/Travel/Travel.ttf") format("truetype"), url("../fonts/Travel/Travel.otf") format("otf"), url("../fonts/Travel/Travel.woff2") format("woff2"), url("../fonts/Travel/Travel.woff") format("woff");
}
@font-face {
  font-family: "Samosa";
  src: url("../fonts/Samosa/SamosaDemoRegular.eot");
  src: url("../fonts/Samosa/SamosaDemoRegular.eot") format("embedded-opentype"), url("../fonts/Samosa/SamosaDemoRegular.ttf") format("truetype"), url("../fonts/Samosa/SamosaDemoRegular.otf") format("otf"), url("../fonts/Samosa/SamosaDemoRegular.woff2") format("woff2"), url("../fonts/Samosa/SamosaDemoRegular.woff") format("woff");
}
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: aria;
  background-color: white;
  font-size: 1rem;
  line-height: 1.6;
  height: 7000px;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* "neue" HTML5 Elemente */
header,
main,
section,
nav,
aside,
article,
footer,
figure,
figcaption {
  display: block;
  padding: 0;
}

#three-container {
  height: 49rem;
  width: 79rem;
  position: relative;
  margin: 0 auto;
}
#three-container canvas {
  position: absolute;
  top: 0;
  left: 0;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
}
header a {
  color: white;
  text-decoration: none;
}
header .m-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #001b2c;
  color: white;
  font-size: 1.5rem;
  transform: translate(0, -50px);
  animation: navBar 1s forwards;
  animation-delay: 300ms;
  opacity: 0;
  font-family: travel;
}
header .m-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .m-nav ul li {
  margin-right: 1rem;
}
header .headline {
  display: flex;
  padding: 4rem 3rem;
  justify-content: space-between;
}
header .headline h1 {
  margin-left: 8rem;
  margin-top: 8rem;
  font-size: 6rem;
  font-family: "Samosa";
  color: #242424;
  text-shadow: 2px 2px 3px rgba(0, 27, 44, 0.6);
}
header .headline h1 p:first-child {
  margin-bottom: 2rem;
}
header .headline h1 p:last-child {
  margin-left: 7rem;
}
header > .headline > div {
  display: flex;
  justify-content: end;
}
header > .headline > div .header-pic:first-child img {
  margin-left: 11rem;
  object-position: var(--cordX, 20%) 50%;
  animation: picOne 1.3s forwards;
  transform: translate(-20px, 50px);
  opacity: 0;
  animation-delay: 300ms;
}
header > .headline > div .header-pic:last-child img {
  object-position: var(--cordX) 50%;
  animation: picTwo 1.3s forwards;
  transform: translate(20px, -50px);
  opacity: 0;
  animation-delay: 300ms;
}
header > .headline > div .header-pic {
  width: 450px;
  height: 600px;
}
header > .headline > div .header-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 200ms linear;
  clip-path: polygon(52.511% 99.853%, 0.229% 99.853%, 40.982% 4.303%, 40.982% 4.303%, 41.347% 3.576%, 41.795% 2.906%, 42.318% 2.297%, 42.91% 1.755%, 43.563% 1.283%, 44.27% 0.886%, 45.023% 0.57%, 45.816% 0.338%, 46.64% 0.195%, 47.489% 0.147%, 99.771% 0.147%, 59.018% 95.697%, 59.018% 95.697%, 58.653% 96.424%, 58.205% 97.094%, 57.682% 97.703%, 57.09% 98.245%, 56.437% 98.717%, 55.73% 99.114%, 54.977% 99.43%, 54.184% 99.662%, 53.36% 99.805%, 52.511% 99.853%);
}

@keyframes picOne {
  0% {
    transform: translate(-20px, 50px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@keyframes picTwo {
  0% {
    transform: translate(20px, -50px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@keyframes navBar {
  0% {
    opacity: 0;
    transform: translate(0, -50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
.sec-travel-list {
  background-color: #001b2c;
  padding: 2rem 0 9rem 0;
}
.sec-travel-list h2 {
  text-align: center;
  color: rgb(241, 241, 241);
  margin-bottom: 4rem;
  font-size: 4rem;
  font-family: Samosa;
}

.sec-1 {
  background-color: #001b2c;
  width: 100%;
}
.sec-1 > div {
  position: relative;
  z-index: 2;
  width: 79rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 7rem 7rem 7rem 7rem 7rem 7rem 7rem;
}
.sec-1 > div div:nth-of-type(2) {
  grid-column: 6/8;
  grid-row: 1/3;
  padding: 0 0 1.5rem 1.5rem;
  perspective: 2000px;
}
.sec-1 > div div:nth-of-type(2) img {
  transform: rotateY(-35deg);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 250ms ease-in-out;
  opacity: 0;
}
.sec-1 > div div:nth-of-type(3) {
  grid-column: 6/8;
  grid-row: 3/5;
  padding: 0 0 1.5rem 1.5rem;
}
.sec-1 > div div:nth-of-type(3) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 250ms ease-in-out;
  transform: rotateY(-35deg);
  opacity: 0;
}
.sec-1 > div > div {
  width: 100%;
  grid-column: 1/6;
  grid-row: 1/6;
}
.sec-1 > div > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}
.sec-1 > div p {
  font-family: travel;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: white;
  grid-column: 4/8;
  grid-row: 5/7;
  border-radius: 7px;
}

@keyframes picture {
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 79rem;
  margin: auto;
}
.cards:hover .card {
  background: radial-gradient(150rem circle at var(--xPos) var(--yPos), #00fff1, transparent 15%);
}
.cards .card {
  width: 25rem;
  height: 18rem;
  background: radial-gradient(150rem circle at 0 0, rgba(0, 255, 241, 0), transparent 0%);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 150ms ease-in-out;
  z-index: 1;
}
.cards .card:hover {
  scale: 0.97;
}
.cards .card .card-content {
  background-color: #13131c;
  border-radius: inherit;
  transition: all 250ms;
  height: calc(100% - 0.1rem);
  width: calc(100% - 0.1rem);
  position: relative;
  backdrop-filter: blur(9px);
  transition: all 150ms ease-in-out;
  overflow: hidden;
}
.cards .card .card-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(9px);
  border-radius: inherit;
  z-index: 1;
  transition: all 150ms ease-in-out;
}
.cards .card .card-content::after {
  content: "Lorem";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translate(0rem, 2rem);
  transition: all 250ms ease-in-out;
  color: #001b2c;
  font-size: 2rem;
  font-family: travel;
}
.cards .card .card-content:hover::before,
.cards .card .card-content :focus::before {
  backdrop-filter: blur(0px);
}
.cards .card .card-content:hover::after,
.cards .card .card-content :focus::after {
  transform: translate(0rem, 0rem);
  opacity: 1;
}
.cards .card .card-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  backdrop-filter: blur(9px);
}

.sec-2 {
  background-color: #001b2c;
  padding: 8rem 0;
}
.sec-2 > div {
  font-family: travel;
  font-size: 1.2rem;
  width: 79rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 4.9rem 4.9rem 4.9rem 4.9rem 4.9rem 4.9rem 4.9rem 4.9rem 4.9rem 4.9rem;
}
.sec-2 > div div:nth-child(1) {
  grid-column: 1/5;
  grid-row: 1/6;
  border-radius: 9px;
  overflow: hidden;
  transform: translate(150px, 0);
}
.sec-2 > div div:nth-child(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sec-2 > div div:nth-child(1).active {
  animation: reset 400ms forwards;
  animation-timing-function: ease-out;
}
.sec-2 > div div:nth-child(2) {
  grid-column: 7/10;
  grid-row: 1/7;
  border-radius: 9px;
  overflow: hidden;
  transform: translate(-150px, 0);
}
.sec-2 > div div:nth-child(2) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sec-2 > div div:nth-child(2).active {
  animation: reset 400ms forwards;
  animation-timing-function: ease-out;
  animation-delay: 150ms;
}
.sec-2 > div div:nth-child(3) {
  grid-column: 1/6;
  grid-row: 7/11;
  border-radius: 9px;
  overflow: hidden;
  transform: translate(300px, -80px);
}
.sec-2 > div div:nth-child(3) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sec-2 > div div:nth-child(3).active {
  animation: reset 400ms forwards;
  animation-timing-function: ease-out;
  animation-delay: 150ms;
}
.sec-2 > div p:nth-of-type(1) {
  grid-column: 4/6;
  grid-row: 5/7;
  background-color: white;
  padding: 1rem;
  border-radius: 7px;
  transform: translate(70px, -40px);
  opacity: 0;
  transition: 250ms ease-in-out;
  transition-delay: 250ms;
}
.sec-2 > div p:nth-of-type(1).active {
  opacity: 1;
}
.sec-2 > div p:nth-of-type(2) {
  grid-column: 6/8;
  grid-row: 2/4;
  background-color: white;
  padding: 1rem;
  border-radius: 7px;
  transform: translateX(-70px);
  opacity: 0;
  transition: 250ms ease-in-out;
  transition-delay: 350ms;
}
.sec-2 > div p:nth-of-type(2).active {
  opacity: 1;
}
.sec-2 > div p:nth-of-type(3) {
  grid-column: 5/9;
  grid-row: 8/10;
  background-color: white;
  padding: 1rem;
  border-radius: 7px;
  transform: translateX(70px);
  opacity: 0;
  transition: 250ms ease-in-out;
  transition-delay: 450ms;
}
.sec-2 > div p:nth-of-type(3).active {
  opacity: 1;
}

@keyframes reset {
  100% {
    transform: translate(0px, 0);
  }
}
@keyframes nightTwo {}
@keyframes nightThree {}
.sec-3 {
  background-color: #001b2c;
  padding: 8rem 0;
}
.sec-3 .content-wraper {
  font-family: travel;
  font-size: 1.2rem;
  width: 79rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(50, 1.58rem);
  grid-template-rows: repeat(32, 1.75rem);
}
.sec-3 .content-wraper div:nth-child(1) {
  grid-column: 1/13;
  grid-row: 1/33;
  background-image: url("../img/geisha-3.jpg");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 60% var(--yCord, 10%);
  border-radius: 7px;
}
.sec-3 .content-wraper div:nth-child(2) {
  grid-column: 14/51;
  grid-row: 1/30;
  background-image: url("../img/cherry-blossoms-fuji-mountain-spring-sunrise-shizuoka-japan.jpg");
  background-repeat: no-repeat;
  background-size: 1800px;
  background-position: 10% var(--yCord);
  border-radius: 7px;
}
.sec-3 .content-wraper p {
  background-color: white;
  grid-column: 18/47;
  grid-row: 28/33;
  padding: 1rem;
  border-radius: 7px;
  font-size: 1.5rem;
}

.sec-4 {
  background-color: #001b2c;
  padding: 8rem 0;
  font-family: Samosa;
  display: relative;
  width: 100%;
  height: 100%;
}
.sec-4 .content-wraper {
  width: 79rem;
  margin: auto;
  position: relative;
  height: 100%;
}
.sec-4 .content-wraper .card {
  display: grid;
  position: sticky;
  top: 0rem;
  grid-template-columns: repeat(10, 7.9rem);
  grid-template-rows: repeat(10, 5.6rem);
  width: 79rem;
}
.sec-4 .content-wraper .card img {
  grid-column: 1/11;
  grid-row: 3/10;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}
.sec-4 .content-wraper .card p {
  grid-column: 1/11;
  grid-row: 1/3;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  transition: all 350ms ease-in-out;
}
.sec-4 .content-wraper .card p.hide {
  animation: hide 350ms forwards ease-in-out;
}
.sec-4 .content-wraper .card p.reset {
  opacity: 0;
  transform: translate(0, 80px);
}
.sec-4 .content-wraper .card p.active {
  animation: show 350ms forwards ease-in-out;
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, -80px);
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
.sec-5 {
  background-color: #001b2c;
  padding: 8rem 0;
  width: 100%;
  height: 100%;
}
.sec-5 #filters {
  position: absolute;
  top: 0;
  z-index: -1000;
  left: -100%;
  opacity: 0;
}
.sec-5 .content-wraper {
  width: 79rem;
  margin: auto;
  position: relative;
  height: 100%;
}
.sec-5 .content-wraper .card {
  display: grid;
  position: sticky;
  top: 0rem;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 7rem);
}
.sec-5 .content-wraper .card div.sec-5-img:nth-child(even).active {
  animation: mainPicRight 500ms ease-in-out forwards;
}
.sec-5 .content-wraper .card div.sec-5-img:nth-child(odd).active {
  animation: mainPicLeft 500ms ease-in-out forwards;
}
.sec-5 .content-wraper .card div:nth-of-type(1) {
  background-image: url("../img/samurai-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 -172px;
  background-size: cover;
  grid-column: 1/8;
  grid-row: 1/2;
  transform: translateX(-150px);
  opacity: 0;
  filter: blur(5px);
  border-radius: 7px 7px 0 0;
}
.sec-5 .content-wraper .card div:nth-of-type(2) {
  grid-column: 1/8;
  grid-row: 2/3;
  background-image: url("../img/samurai-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 -284px;
  background-size: cover;
  transform: translateX(150px);
  opacity: 0;
  filter: blur(5px);
}
.sec-5 .content-wraper .card div:nth-of-type(3) {
  grid-column: 1/8;
  grid-row: 3/4;
  background-image: url("../img/samurai-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 -396px;
  background-size: cover;
  transform: translateX(-150px);
  opacity: 0;
}
.sec-5 .content-wraper .card div:nth-of-type(4) {
  grid-column: 1/8;
  grid-row: 4/5;
  background-image: url("../img/samurai-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 -508px;
  background-size: cover;
  transform: translateX(150px);
  opacity: 0;
}
.sec-5 .content-wraper .card div:nth-of-type(5) {
  grid-column: 1/8;
  grid-row: 5/6;
  background-image: url("../img/samurai-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 -620px;
  background-size: cover;
  transform: translateX(-150px);
  opacity: 0;
}
.sec-5 .content-wraper .card div:nth-of-type(6) {
  grid-column: 1/3;
  grid-row: 6/8;
  background-image: url("../img/samurai-3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 1.5rem 1.5rem 0 0;
  opacity: 0;
}
.sec-5 .content-wraper .card div:nth-of-type(7) {
  grid-column: 3/5;
  grid-row: 6/8;
  background-image: url("../img/samurai-2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 1.5rem 1.5rem 0 0;
  border-radius: 7px;
  opacity: 0;
}
.sec-5 .content-wraper .card div:nth-of-type(8) {
  grid-column: 5/8;
  grid-row: 6/8;
  background-color: white;
  border-radius: 7px;
  margin: 1.5rem 0rem 0 0;
  opacity: 0;
}
.sec-5 .content-wraper .card div:nth-of-type(8) p {
  padding: 1.5rem;
  font-size: 1.5rem;
  font-family: travel;
}
.sec-5 .content-wraper .card div:nth-of-type(9) {
  grid-column: 1/2;
  grid-row: 1/6;
  border-radius: 7px;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(50px);
}
.sec-5 .content-wraper .card div:nth-of-type(9) p.morph {
  font-family: "Noto Sans JP";
  width: 100%;
  height: 100%;
  font-size: 4rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  line-height: 4.4rem;
  filter: url(#morph) blur(0.5px);
  position: relative;
  color: rgb(52, 250, 255);
}
.sec-5 .content-wraper .card div:nth-of-type(9) p.morph .jap {
  position: absolute;
  top: 100%;
  height: 100%;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
  font-size: 5rem;
  opacity: 0;
  transition: all 300ms;
}
.sec-5 .content-wraper .card div:nth-of-type(9) p.morph .jap .bushido-jap.hide {
  animation: old 1000ms forwards;
}
.sec-5 .content-wraper .card div:nth-of-type(9) p.morph .bushido-eng {
  opacity: 0;
}
.sec-5 .content-wraper .card div:nth-of-type(9) p.morph .bushido-eng.show {
  animation: new 300ms forwards;
}
.sec-5 .content-wraper .card div:nth-of-type(10) {
  grid-column: 7/8;
  grid-row: 1/6;
  border-radius: 7px;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-5 .content-wraper .card div:nth-of-type(10) p.morph {
  font-family: "Noto Sans JP";
  font-size: 3rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4.5rem;
  font-weight: 700;
  filter: url(#morph) blur(0.5px);
}
.sec-5 .content-wraper .card div:nth-of-type(10) p.morph .bushido-eng {
  color: #00fff1;
  opacity: 0;
}
.sec-5 .content-wraper .card div:nth-of-type(10) p.morph .bushido-eng.show {
  animation: new 300ms forwards;
}

@keyframes new {
  0% {
    filter: blur(100px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes old {
  0% {
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    filter: blur(100px);
    opacity: 0;
  }
}
@keyframes mainPicLeft {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
  }
}
@keyframes mainPicRight {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
  }
}
.sec-6 {
  background-color: #001b2c;
  padding: 8rem 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.sec-6 .content-wraper {
  width: 79rem;
  margin: auto;
  position: relative;
  height: 100%;
  border-radius: 7px;
  overflow: hidden;
}
.sec-6 .content-wraper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sec-6 .modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transition: all 300ms ease-in-out;
}
.sec-6 .modal.hide {
  opacity: 0;
}
.sec-6 .modal .show {
  display: initial;
  opacity: 1;
}
.sec-6 .modal .control-slider {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 3rem;
  z-index: 1;
}
.sec-6 .modal .control-slider button {
  margin-bottom: 12rem;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(0%, -50%);
  z-index: 3;
}
.image-track .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% 50%;
}

/*# sourceMappingURL=main.css.map */
